*{
	border: 0px;
	padding: 0px;
	margin: 0px;
}

#game-container{
	background-color: cadetblue;
	width: 1000px;
	height: 1000px;	
	margin: 10px auto;
}

.block-line{
	display: flex;
}

.game-block{
	background-color: #3C1053;
}

.snake{
	background-color: #EEEEEE;

}

.apple{
	background-color: #D29F13;

}

#score{
    background-color:#D29F13;
	width: 1000px;
	height: 100px;	
	margin: 10px auto;
    text-align: center;
    font-size: 80px;
    color: 3C1053;
}

fieldset, button{
    padding: 7px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}

#leaderboard{
    background-color:#D29F13;
    width: 600px;
	height: 700px;	
	margin: 10px auto;
    color: #3C1053;
    font-size: 60px;
}

#leaderboard div{
}

.score-block{
    display:inline-block;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
